<h1>Edit Artist Form</h1>

<%=form_for(@artist) do |form|%>
  <%=form.label :name%>
  <%=form.text_field :name%>
  <%=form.label :bio%>
  <%=form.text_field :bio%>
  <%=submit_tag "Update Artist"%>
<%end%>