<h1>Update Song Form</h1>

<%=form_for(@song) do |form|%>
  <%=form.label :name%>
  <%=form.text_field :name%>
  <%=form.label :artist_id%>
  <%=form.text_field :artist_id%>
  <%=form.label :genre_id%>
  <%=form.text_field :genre_id%>
  <%=submit_tag "Update Song"%>
<%end%>