<%= form_for(@song) do |f|%>

  <label>Name:</label><br>
  <%= f.text_field :name %><br>
  
  <label>Artist id:</label><br>
  <%= f.interger :artist_id %><br>
  
  <label>Genre id:</label><br>
  <%= f.interger :genre_id %><br>
  
  <%= f.submit %>
  
<%end%>